<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="A1" class="org.apache.log4j.FileAppender">
		<param name="File" value="log/log4j1.2/professor-languo.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c{2} (%F:%L) - %m%n" />
		</layout>
	</appender>
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="info" />
		</filter>
	</appender>
	<category name="org.apache.log4j.xml">
		<priority value="debug" />
		<appender-ref ref="A1" />
	</category>
	<!-- set the level of httpclient to warn to prevent every client transaction 
		from being logged. If this is removed, the log file fills up quickly with 
		DEBUG message from httpclient. -->
	<logger name="org.apache.http">
		<level value="warn" />
	</logger>

	<root>
		<priority value="info" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="A1" />
	</root>
</log4j:configuration>